<!--************************
	History Page
****************************-->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	
		<div class="row">
			
			<div class="col-md-2 sidebar-menu">
				<!-- Scale Category -->
				<select class="form-control" style='margin-top:5px' id='test'>
				  <option value="" selected disabled>Measurement</option>
				  <option>PAD</option>
				  <option>PAM</option>
				  <option>PANAS</option>
				  <option>SAM</option>
				</select>
				
				<!-- Graph Category -->
				<select class="form-control" style='margin-top:5px' id='graph'>
				  <option value="" selected disabled>Graph</option>
				  <option>Line Chart</option>
				  <option>Pie Chart</option>
				</select>

				<!-- Time Range -->
				<div>
					<input type="text" placeholder="Start YYYY-MM-DD" style="width:100%;margin-top: 10px" id="start_time"></input>
					<input type="text" placeholder="End   YYYY-MM-DD" style="width:100%" id="end_time"></input>
				</div>
				
				<!-- Go and Dowanload button control -->
				<button type="button" class="btn btn-success btn-block" style="margin-top:20px; float:right" {{action 'getGraph'}}>Go!</button>
				<button type="button" class="btn btn-primary btn-block" style="float:right" {{action 'download'}}>Download</button>
			</div>
			
			<!-- display panel -->
			<div class="col-md-10 col-block display-board">
				<div id="chart_div" style="height: 500px;z-index:-1"></div>
			</div>
		
		</div>
	</div>
</div>