<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			
			<div class="col-md-2 sidebar-menu btn-group-vertical">
				<button type="button" class="btn btn-default btn-block">Line Chart</button>
				<button type="button" class="btn btn-default">Pie Chart</button>
				<button type="button" class="btn btn-default">Button</button>
				<button type="button" class="btn btn-default">Button</button>
			</div>
			

			<div class="col-md-10 col-block display-board">
				<div id="chart_div" style="height: 500px;z-index:-1"></div>
			</div>
		
		</div>
	</div>
</div>