<!--************************
  PAD Test Page
****************************-->
<div class="container">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-4">
      <div class="text-center">
        <!-- Three dimension sliders -->
        <div style="margin-top: 15px">Pleasure</div>
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="5" style="min-width: 300px"/>

        <div style="margin-top: 15px">Arousal</div>
          <input id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="5" style="min-width: 300px"/>
      
        <div style="margin-top: 15px">Dominance</div>
          <input id="ex3" data-slider-id='ex3Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="5" style="min-width: 300px"/>

        <div class="text-center" style="margin: 20px">
          <button type="button" class="btn btn-primary" id="submit">Submit</button>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <!-- Three tutorial tabs -->
      <ul class="nav nav-tabs nav-justified nav-block">
        <li role="presentation" id="pleasure"><a href="#">Pleasure</a></li>
        <li role="presentation" id="arousal"><a href="#">Arousal</a></li>
        <li role="presentation" id="dominance"><a href="#">Dominance</a></li>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <img src='/assets/pad/pleasure.jpg' id="display_image" style="width:100%">
        </div> 
        <div class="col-md-6" id="introduction" style="padding-top:10px">
          
        </div>
      </div>
    </div>
  </div>
</div>