<div class="container-liquid">
	<div class="row">
		<div class="col-md-12 login-header">
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<div class="login-brand">
						<strong>MoodScale</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 login-panel-wrapper">
			<div class='row'>
				<div class="col-md-8 col-md-offset-2 login-panel">
					<div class='row'>
						<div class="col-md-8 login-intro">
							<div class="login-font">Record mood,</div>
							<div class="login-font">See a new self.</div>
						</div>

						<div class="col-md-4 login-tools">
							<input type="text" class="form-control login-text" placeholder="User Name" id='input-name'>
							<input type="text" class="form-control login-text" placeholder="Email" id='input-email'>
							<input type="text" class="form-control login-text" placeholder="Password" id='input-password'>
							<button type="button" class="btn btn-success btn-block login-button">Sign up for MoodScale</button>

							<div class='sign-in-text'>already have an account?
							<a href='' data-toggle="modal" data-target="#myModal"> sign in</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		
	</div>
</div>




<!--##################
	sign in modal
######################-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#eff1ec">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><strong>Sign In</strong></h4>
			</div>
			
			<div class="modal-body" >
		   		<input type="text" class="form-control login-text" placeholder="Email" id='sign-email'>
		   		<input type="text" class="form-control login-text" placeholder="Password" id='sign-password'>
		  	</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success">Sign in</button>
			</div>
		</div>
	</div>
</div>