<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="alert alert-success" role="alert" style="font-size:120%;opacity:0.9">
      			Your result has been submited <strong>successfully</strong> !
    		</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 well" >
				<div align="center"><h1>Wanna More Test?</h1></div>
				<div class="row" style="margin:10px">
						{{#link-to 'pam' class='btn btn-default btn-block'}}Quick Test{{/link-to}}
				</div>
				<div class="row" style="margin:10px">
						{{#link-to 'spane' class='btn btn-default btn-block'}}Normal Test{{/link-to}}
				</div>
				<div class="row" style="margin:10px">
						{{#link-to 'panas' class='btn btn-default btn-block'}}Thorough Test{{/link-to}}
				</div>
			</div>

			<div class="col-md-4 col-md-offset-2 well">
				<div align="center"><h1>See History Here!</h1></div>
				<div class="row" style="margin:10px">
						{{#link-to 'graph' class='btn btn-warning btn-block'}}History{{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div>