<div class="progress">
      <div id='test-progress' class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" {{bindAttr style="progress_per"}}>
        <span class="sr-only"></span>
      </div>
</div>

