<div class="container-full">
	<div class="row" style="margin-top:100px;">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">

				<div class="col-md-1 col-md-offset-1">
					<div id='mark1' class="p-mark">
						<u>3</u>
					</div>
					
					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl1" data-slider-id="text-sl1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
						</div>
					</div>

					<div class="mood-text">
						Upset
					</div>
				</div>

				<div class="col-md-1">
					<div id='mark2' class="p-mark">
						<u>3</u>
					</div>
					
					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl2" data-slider-id="text-sl2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>

					<div class="mood-text">
						Hostile
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark3' class="p-mark">
						<u>3</u>
					</div>

					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl3" data-slider-id="text-sl3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>
					<div class="mood-text">
						Alert
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark4' class="p-mark">
						<u>3</u>
					</div>

					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl4" data-slider-id="text-sl4" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>
					<div class="mood-text">
						Ashamed
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark5' class="p-mark">
						<u>3</u>
					</div>


					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl5" data-slider-id="text-sl5" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>
					<div class="mood-text">
						Inspired
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark6' class="p-mark">
						<u>3</u>
					</div>

					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl6" data-slider-id="text-sl6" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>
					<div class="mood-text">
						Nervous
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark7' class="p-mark">
						<u>3</u>
					</div>


					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl7" data-slider-id="text-sl7" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>
					<div class="mood-text">
						Active
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark8' class="p-mark">
						<u>3</u>
					</div>


					<div class="row">
						<div class="col-md-1 col-md-offset-3">
					<input id="sl8" data-slider-id="text-sl8" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
					</div>
					</div>
					<div class="mood-text">
						Attentive
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark9' class="p-mark">
						<u>3</u>
					</div>


					<div class="row">
						<div class="col-md-1 col-md-offset-3">
							<input id="sl9" data-slider-id="text-sl9" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
						</div>
					</div>
					<div class="mood-text">
						Afraid
					</div>
				</div>
				<div class="col-md-1">
					<div id='mark10' class="p-mark">
						<u>3</u>
					</div>

					<div class="row">
						<div class="col-md-1 col-md-offset-3">
							<input id="sl10" data-slider-id="text-sl10" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide">
						</div>
					</div>
					
					<div class="mood-text">
						Determined
					</div>
				</div>
			</div>

			<div class="row" style="margin-top:30px">
				<div class="col-md-2 col-md-offset-5">
					<button id='submit' type="button" class="btn btn-primary btn-lg">
  						 Submit
					</button>
				</div>
			</div>
		</div>
	</div>
</div>