<div class="container-full">
	<row>
		<div class="header_canvas">
			<h1>Mood Assessment</h1>
		</div>
	</row>
	<row>
		<div class="navbar navbar-inverse">
		  <row>
	        <div class="navbar-collapse collapse navbar-inverse-collapse col-md-8 col-md-offset-1">
	          <ul class="nav navbar-nav">
	            <li><a href='#'>Home</a></li>
	            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utility <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to 'panas'}}PANAS{{/link-to}}</li>
                        <li><a href="#">SPANE</a></li>
                        <li><a href="#">PAM</a></li>
                      </ul>
                </li>

	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            </li>
	          </ul>
	        </div>
	      </row>
        </div>
	</row>

	<div class="container-full">{{outlet}}</div>
</div>