<div class="container">
	<div class="row">
		<div class="intro-gamma">
			<p>Welcome to MoodScale!</p>  
			<p>Some of our tests involve brightness testing</p>
			<p>Before starting your test, please ajust the brightness of your monitor until you can barely see the word 'MoodScale' on your left side. </p>
		</div>

		<div class="gamma-photo liquid-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
					<img src="/assets/misc/gamma.jpg">
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.intro-gamma').blurjs({
		source : 'body',
		overlay: 'rgba(149, 165, 166,0.7)'
	});
</script>