
<row>
  <div class='col-md-10 col-md-offset-1'>
  <div class="page-title">
    <h1 class="header"> PANAS</h1>
  </div>
</row>

<row>
  <div class="intro">{{#link-to 'panas-test' class="btn btn-lg btn-danger"}}Start{{/link-to}}</div>
</row>

  