<row>
	<div class="panas-test-panel col-md-6 col-md-offset-3">
		<div class="panel panel-default" align="center" class="overlay">
			<div class='overlay'>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="img-circle test-photos">
			</div>


            <div style="width: 250px;" class="slider slider-horizontal" {{action 'changeBrightness' 'yes'}}>
            	<div class="slider-track">
            		<div style="left: 0%; width: 50%;" class="slider-selection"></div>
            		<div style="left: 50%;" class="slider-handle round"></div>
            		<div style="left: 0%;" class="slider-handle round hide"></div>
            	</div>

            	<div style="top: -40px; left: 23px;" class="tooltip top">
            		<div class="tooltip-arrow"></div><div class="tooltip-inner">Current value: 5</div>
            	</div>

            	<input style="" class="span2" value="4" id="sl1" type="text">
            </div>

            <div class="button-group">
            	<row>
            		<div>
            			<button id="preBtn" {{action 'previousTest'}} class="control-btn btn btn-default">Back</button>
            			<button id="nextBtn" {{action 'nextTest'}} class="control-btn btn btn-default">Next</button>
            		</div>
            	</row>
            </div>
		</div>
	</div>
</row>


<!--###########################
####    front end javascript
###############################-->
<script type="text/javascript">
      $(document).ready(function(){
            $('#sl1').slider();
      });
</script>


