
<row>
  <div class='col-md-10 col-md-offset-1'>
  <div class="page-title">
    <h1 class="header"> PANAS</h1>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

        <!--Main Body-->
        <div class="carousel-inner">
          <div class="item">
            <div align='center' class="photo-panas">
              <img src="/assets/panas_photos/placehold.jpg" class="img-circle photo-panas-scale">
            </div>

            

          </div>
          <div class="item">
            <div align='center' class="photo-panas">
              <img src="/assets/panas_photos/placehold.jpg" class="img-circle photo-panas-scale">
            </div>
          </div>
          <div class="item active">
            <div align='center' class="photo-panas">
              <img src="/assets/panas_photos/placehold.jpg" class="img-circle photo-panas-scale">
            </div>
          </div>
        </div>
        
        <!--Controller-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      </div>
    </row>
