/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require application
 *= require bootstrap-slider
 *= require jqcloud
 */

/********************
	jcoverflip
*********************/
 .ui-jcoverflip {
        position: relative;
 }
      
  .ui-jcoverflip--item {
    position: absolute;
    display: block;
  }


/*********************
  general use css
 *********************/
 .no-padding{
 	padding: 0 !important;
 	margin: 0 !important;
 }

.logout{
	color: white;
	margin-top: 15px;
	float: right;
}

body{
	/*background-color: #1abc9c;*/
	background-color: white;
}

.method-detail{
	font-size: 20px;
	font-weight: lighter;

	margin-bottom: 20px;
}

.start-button{
	margin-top: 20px;
}

/********************
	index 
*********************/
.index-font{
  font-size: 100px;
  margin-top: 150px;
}
/*********************
	text test panel
*********************/
.p-mark{
	font-size: 30px;
	border: 1px;
	margin-bottom: 10px;
	text-align: center;
}

.mood-text{
	font-size: 20px;
	font-weight: lighter;
	margin-top: 15px;
	text-align: center;
}
/**********************
	login page css
**********************/
.login-brand{
	font-size: 200%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #393938;
}

.login-header{
	background-color: #eff1ec;
}

.login-panel-wrapper{
	background-color: #393938;
}

.login-panel{
	margin-top: 100px;
	margin-bottom: 100px;
}

.login-intro{
	line-height: 550%;
}

.login-text{
	margin-top: 10px;
	margin-bottom: 5px;
}

.login-button{
	margin-top: 25px;
	
}

.login-font{
	font-size: 500%;
	color: #f8f5ed;
}

.sign-in-text{
	margin-top: 20px;
	color: #eff1ec;
	float: right;
}

.error-div{
	background-color: #f83b28;
	padding-left: 10px;
	color : #eff1ec;
	opacity: 0.8;
}

.sub-head{
	text-align: center;
	font-size: 42px;
	font-weight: lighter;
	padding-top: 100px;
}

.sub-content{
	margin-top: 50px;
}

.intro-icon{
	width: 80%;
	height: auto;
}

.method-intro{
	border: 2px solid;
}

.method-font{
	color: #807a78;
}

.footer{
	background-color:  #393938;
	margin-bottom: -30px;
	height: 100px;
	margin-top: 150px;
}
/*********************
 	navigation bar css
 *********************/
.header_canvas
{
	text-align: center;
	height: 100px;
	background-color:  #eff1ec;
	padding: 10px;
	font-size: 400%;
	color: #393938;
}

.navbar-nav>li>a{
	height: 55px;
	line-height: 35px;
	font-size: 150%;
	padding-top: 10.5px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.header 
{
	border-bottom: 1px solid #3D3737;
}

.page-title
{
	padding-bottom: 20px;
}

.photo-panas {
    width: 50%;
    margin: 0 auto;
    vertical-align: center;
    padding-top: 50px;
}

.photo-panas-scale{
	width: 300px;
	height: auto;
}

.test-panel{

}
/*
.main-panel{
	padding-left: 18px;
}*/

.panas-test-panel{
	padding-top: 30px;
}

.test-photos{
	width: 400px;
	height: auto;
	padding: 30px;
}

.button-group{
	margin: 30px;
}
.control-btn{
	margin: 15px;
}

.overlay{
	color : #04B431;
	z-index: 99;
}

#testPic{
	-webkit-filter: brightness(1.0);
	filter: brightness(1.0);
}

.test-progressbar{
	margin-top: -22px;
}


.galleryPic{
	width: 100%;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;

	margin-bottom: 10px;
}

.newset{
	padding-right: 5px;
	padding-left: 5px;
}

.galleryDiv{
	min-width: 270px;
}

.sidebar-menu{
	height: 500px;
	background: #F8F8F8 ;

}

.sidebar-menu-title{
	margin-top: 10px;
	margin-left: 5px;
	font-size: 90%;
}

.category-bar{
	margin-bottom: 10px;
	border-color: white !important;
}

/**********************
	SAM
**********************/
.sam-highlight{
	border : 10px solid #ff4256;
}

.sam-img{
	width: auto;
	height: 200px;
}

.sam-test-font{
	font-size: 20px;
	font-weight: lighter;
}

.checkbox-inline, .checkbox {
    margin-top: 8px !important;
}

/**********************
	GAMMA
***********************/

.intro-gamma{
	font-size: 20px;
	font-weight: 25;
	color: #dbdbdb;
	padding: 20px;
	border-radius: 10px;
}

.gamma-photo{
	margin-top: 30px;
}
/*
.carousel-control.left, .carousel-control.right{ 
	background: none !important; 
}*/