<div class='container-liquid'>
	<div class="row">
		<div class="col-md-3" style="height:500px; background-color:#eae5ea; margin-right:5px">
			<div style="margin-top:20px">
			<div>Arouse</div>
			<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="4" data-slider-step="1" data-slider-value="3"/>
			</div>

			<div style="margin-top:10px">
			<div>Pleasure</div>
			<input id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="1" data-slider-max="4" data-slider-step="1" data-slider-value="3"/>
			</div>
		</div>

		<div class="col-md-8" style="height:500px; background-color:#eae5ea" id='chart'>
				lalalaal
		</div>
	</div>
</div>