<!DOCTYPE html>
<html>
<head>
  <title>Mood</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  	google.load("visualization", "1", {packages:["corechart"]});
  </script>

  <script type="text/javascript">
    // the following codes check whether users have access_token 
    // if the users do not have a access_token, will be redirected to the 
    // login page
  	var href = window.location.href;
  	var param = href.split('//')[1].split('/')[1]

  	if (param != 'login'){
  		var login_page_url = "http://" + href.split('//')[1].split('/')[0] + "/login"

  		var email = getCookie('email');
  		var access_key = getCookie('access_key');

  		if (email == "" || access_key == ""){ // to login page
  			window.location.replace(login_page_url);
  		}else{
  			$.post("valid_user",{email:email,access_key:access_key})
  			.done(function(data){
  				if (data['valid'] == 'no'){
  					window.location.replace(login_page_url);
  				}
  			});
  		}
  	}
  </script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
